<h1 class="d-inline"><%= @task.title %></h1>
<h2 class="d-inline"><%= link_to '(Edit this Task)', task_edit_path  %></h2>
<h3><%= @task.details %></h3>
<br>
<%= link_to 'Return to the list', tasks_path  %>

